table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #996600;
    text-align: left;
    padding: 8px;
}

body {
    background-color:  #663300;
}

tr .buttons {
    color: white;
}

.buttons {
    border: none;
}