<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../styles/styleCadastro.css">
</head>
<body>
    <div className="app-container">
        <div className="register-container">
            <h1 className="register-title">Cadastro de Produto</h1>

            <form action="../controller/CadastrarProduto.php" method="post">
                Código: <input type="text" name="codProduto" id="codProduto" maxlength="14" className="register-input"><br><br>
                Descrição: <input type="text" name="descricao" id="descricao" maxlength="30" className="register-input"><br><br>
                Preço: <input type="number" name="preco" id="preco" step="0.01" min="0.01" max="9999.99" className="register-input"><br><br>
                Tamanho: <input type="number" name="tamanho" id="tamanho" className="register-input"><br><br>
                Quantidade: <input type="number" name="quantidadeEstoque" id="quantidadeEstoque" className="register-input"><br><br>
                <input type="submit" value="Enviar">
                <input type="reset" value="Limpar">
            </form>
            <br>
            <input type="button" value="Voltar" onclick="location.href='../controller/ListarProduto.php'" class="register-button">
        </div>
    </div>
</body>
</html>