<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container_form">
        <h1>Cadastro de Caixa</h1>
        <form class="form" action="../controller/controllerCaixa/CadastrarCaixa.php" method="post">

            <div class="form_grupo">
                <label for="cpf" class="form_label">CPF</label>
                <input type="text" name="cpf" class="form_input" id="cpf" required minlength="11">
            </div>
            
            <div class="form_grupo">
                <label for="primeiroNome" class="form_label">Nome</label>
                <input type="text" name="primeiroNome" class="form_input" id="primeiroNome"  required maxlength="30">
            </div>
            
            <div class="form_grupo">
                <label for="sobrenome" class="form_label">Sobrenome</label>
                <input type="text" name="sobrenome" class="form_input" id="sobrenome" required maxlength="70">
            </div>        

            <div class="form_grupo">
                <label for="endereco" class="form_label">Endereço</label>
                <input type="text" name="endereco" class="form_input" id="endereco" required maxlength="70">
            </div> 
            
            <div class="form_grupo">
                <label for="salario" class="form_label">Salário</label>
                <input type="number" name="salario" class="form_input" id="salario" required maxlength="70">
            </div>

            <div class="form_grupo">
                <label for="telefone" class="form_label">Telefone</label>
                <input type="text" name="telefone" class="form_input" id="telefone" required maxlength="70">
            </div>

            <div class="form_grupo">
                <label for="numCaixa" class="form_label">N° Caixa</label>
                <input type="number" min="0" step="1" name="numCaixa" class="form_input" id="numCaixa" required maxlength="70">
            </div>
          
            <div class="submit">
                <input type="hidden" name="acao" value="enviar">
                <button type="submit" name="Submit" class="submit_btn" >Cadastar</button>

                <input type="hidden" name="reset" value="limpar">
                <button type="reset" name="reset" class="submit_btn" >Limpar</button>
                
            </div>
        </form>
        <div class="submit">
            <input type="button" value="Voltar" onclick="location.href='../controller/controllerCliente/ListarCaixa.php'" class="submit_btn">
        </div class="submit">
</div>
    </body>
</html>