<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container_form">
        <h1>Cadastro de Venda</h1>
        <form class="form" action="../controller/controllerVenda/CadastrarVenda.php" method="post">

            <div class="form_grupo">
                <label for="idPedido" class="form_label">ID Pedido</label>
                <input type="number" name="idPedido" class="form_input" id="idPedido">
            </div>

            <div class="form_grupo">
                <label for="cpfVendedor" class="form_label">CPF Vendedor</label>
                <input type="text" name="cpfVendedor" class="form_input" id="cpfVendedor" minlength="11" maxlength="11">
            </div>

            <div class="form_grupo">
                <label for="cpfCliente" class="form_label">CPF Cliente</label>
                <input type="text" name="cpfCliente" class="form_input" id="cpfCliente" minlength="11" maxlength="11">
            </div>

            <div class="form_grupo">
                <label for="valorVenda" class="form_label">Valor</label>
                <input type="number" name="valorVenda" class="form_input" id="valorVenda" step="0.01" min="0.01" max="9999.99"  required>
            </div>

            <div class="submit">
                <input type="hidden" name="acao" value="enviar">
                <button type="submit" name="Submit" class="submit_btn" >Cadastar</button>

                <input type="hidden" name="reset" value="limpar">
                <button type="reset" name="reset" class="submit_btn" >Limpar</button>
            </div>
        </form>
        <div class="submit">
            <input type="button" value="Voltar" onclick="location.href='../controller/controllerVenda/ListarVenda.php'" class="submit_btn">
        </div class="submit">
</div>
    </body>
</html>